.about-project-container {
  background-color: white;
  color: black;
}
form {
  display: inline;
}
.share-idea {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #f7f7f7;
}
.share-idea:hover {
  background-color: #e1e1e1;
}
.api-address {
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f7f7f7;
}
.api-address:hover {
  background-color: #e1e1e1;
}