@font-face {
  font-family: "RegEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Regular.woff2) format("woff");
}
@font-face {
  font-family: "MedEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Medium.woff2) format("woff");
}
@font-face {
  font-family: "BEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Bold.woff2) format("woff");
}
@font-face {
  font-family: "XBEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-ExtraBold.woff2) format("woff");
}
@font-face {
  font-family: "LightEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Light.woff2) format("woff");
}
body,
select,
button,
fieldset {
  font-family: "LightEstedad";
}
body {
  background-color: #2b2b2b;
  direction: rtl;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
input {
  font-family: "LightEstedad";
}
button {
  font-family: "RegEstedad";
}
nav {
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  border-radius: 10px;
  border: 1px solid rgb(169 141 141 / 38%);
}
.display-none {
  display: none;
}
.inset-shadow {
  box-shadow: inset 0px 1px 4px -2px #414141;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow-x: hidden;
  height: 100vh;
}
.card {
  border-radius: 5px;
  padding: 7px;
  padding-inline: 5px;
  margin: 3px;
  margin-block: 5px;
  width: -webkit-fill-available;
}
.no-result {
  text-align: center;
  color: teal;
  font-size: 50px;
  margin-top: 20%;
  font-family: "XBEstedad";
}
@media only screen and (max-width: 310px) {
  .no-result {
    font-size: 30px;
  }
}
.searchInput {
  width: -webkit-fill-available;
  background-color: #fff;
  border: none;
  outline: none;
  padding-block: 5px;
  padding-right: 14px;
}
.searchInput:hover {
  box-shadow: 0px 0px 4px 0px #474748;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.659);
  opacity: 0.5;
}
.BTN {
  cursor: pointer;
  outline: none;
  padding: 8px;
  border: 1px solid #8a898942;
}
.fs-BTN {
  font-size: 12px;
  box-shadow: 0px 3px 3px -4px #000;
  border: none;
  background-color: transparent;
  margin-inline: 1px;
  color: #fff;
}
.fs-BTN:hover {
  box-shadow: 0 3px 3px -4px #000;
}
.activeButton {
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 7px;
  box-shadow: inset 0 2px 4px -2px #000;
  border: none;
  font-size: 12px;
  color: #fff;
}
legend {
  font-size: 14px;
  color: #fff;
}
.right-side {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 5px;
  margin-left: 0px;
  padding: 10px;
  background-color: #fff;
}
@media only screen and (min-width: 530px) and (max-width: 650px) {
  .right-side {
    min-width: 320px;
  }
}
.todolist-container {
  height: 100%;
  padding: 0px;
  padding-right: 0px !important;
  overflow-y: hidden;
  margin-block: 4px;
}
.tdl-items-container {
  height: calc(100% - 52px);
  overflow-y: auto;
  margin-top: 8px;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
}
.left-side h1 {
  font-family: "BEstedad";
}

input {
  background-color: white;
}
.weather-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border: none;
  height: 70px;
  background-color: #e7f6ff;
}
.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.temp {
  display: flex;
  align-items: center;
}
.temp-icon {
  width: 28px;
  margin-right: 10px;
}
.temp-deg {
  font-size: 24px;
  font-weight: bold;
}
.temp-des {
  font-size: 16px;
}
.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-icon-png {
  width: 66px;
}
.green {
  background-color: #43b05c;
}
.yellow {
  background-color: #ffe600;
}
.orange {
  background-color: #ff6500;
}
.red {
  background-color: #a20000e0;
}
.aqi-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border: none;
  height: 70px;
  background-color: #e7e7ff;
}
.undefined-aqi {
  font-size: small;
}
.aq-index {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.aqi-index-container {
  display: flex;
  align-items: center;
}
.aqi-title {
  font-size: 13px;
  margin-right: 7px;
  font-weight: bold;
}
.aqi-des {
  font-size: 16px;
}
.aq-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aq-icon-svg {
  border-radius: 10px;
  width: 66px;
}
.calender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border: none;
  font-family: "BEstedad";
  background-color: #ffb8b8;
}
.filterContainer {
  display: flex;
  justify-content: center;
  flex-flow: column-reverse;
  flex-wrap: nowrap;
}
legend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
legend > img {
  width: 15px;
  opacity: 0.2;
}
.itemContainer2 {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  padding-bottom: 14px !important;
  background-color: #656565;
}
.listItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px #aaaaaa38 solid;
  margin-block: 1px;
  margin-inline: 4px;
  font-family: "LightEstedad";
  background-color: #eeeeee;
  border-radius: 15px;
}
@media only screen and (min-width: 893px) {
  .filter1ItemContainer2 {
    width: 50%;
  }
  .filter2ItemContainer2 {
    width: 35%;
  }
}
.itemContent {
  flex: 3;
  width: 40vw;
  word-wrap: break-word;
  overflow-x: auto;
  height: 33px;
  overflow-y: auto;
  outline: none;
}
.itemContent::-webkit-scrollbar {
  display: none;
}
.itemButton {
  margin-left: 1.5px;
}
input[type="checkbox"] {
  opacity: 0.5;
  zoom: 1.3;
}
.bin {
  width: 15px;
  opacity: 0.2;
  border: none;
}
.bin:hover {
  opacity: 1;
}
.itemCheckbox {
  flex: 0.1;
  zoom: 1.5;
}
.itemCheckbox:hover {
  cursor: pointer;
}
.router {
  padding-left: 5px;
  text-align: center;
  border: none;
  background-color: #656565;
}
.routerLink {
  text-decoration: none;
  color: #fff;
}
.router li {
  font-family: "LightEstedad";
  list-style: none;
  border-radius: 10px;
}
.router li:hover {
  box-shadow: 0px 0px 20px -10px #e4d9d9;
  cursor: pointer;
}
.todo-form-container {
  padding-right: 4px;
}
.todo-form-title {
  font-size: 13px;
}
.todo-form {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 13px;
  margin-left: 1px;
}
.todo-form-text {
  width: -webkit-fill-available;
  height: 31px;
  min-width: 10px;
  outline: none;
  background-color: #eeeeee;
  border-radius: 0px 15px 15px 0px;
  border: none;
  padding-right: 10px;
}
.todo-form-text:hover {
  box-shadow: 0px 0px 4px 0px #474748;
}
.todo-form-submit {
  width: 25px;
  background-color: #43b05c;
  color: #fff;
  border: none;
  border-radius: 15px 0px 0px 15px;
  outline: none;
  padding: 2px;
  margin-inline: 3px;
  cursor: pointer;
}
.todo-form-submit:hover {
  box-shadow: 0px 0px 3px 1px #004b37;
}
.date-container {
  display: flex;
  width: -webkit-fill-available;
}
.date {
  flex: 2;
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  margin-block: 5px;
  border-radius: 8px;
  border: none;
  width: 100px;
  text-align: center;
  border: none;
  background-color: #656565;
  color: #fff;
}
.miladi-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.miladi-date > div {
  padding-inline: 2px;
}
.time-wDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border: solid 1px;
  padding: 3px;
  margin-right: 3px;
  margin-block: 5px;
  margin-left: 6px;
  border-radius: 8px;
  border: none;
  width: 152px;
  text-align: center;
  border: none;
  background-color: #fbf0e2;
  color: #000;
}
.time {
  font-size: 24px;
  font-weight: bold;
}
.wDay {
  font-weight: bold;
}
.miladi {
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  background-color: #888;
  border: none;
  width: 100px;
  text-align: center;
}
.hejri {
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  background-color: #888;
  border: none;
  width: 100px;
  text-align: center;
}
.selector-city {
  border: none;
  padding-block: 3px;
  background-color: #e7f6ff;
}
.selector-city:hover {
  box-shadow: 0px 0px 4px 0px #474748;
  cursor: pointer;
}
.selctor-city,
select {
  width: -webkit-fill-available;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}
select option {
  background-color: #e7f6ff;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px 0px 10px 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
