@font-face {
  font-family: "RegEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Regular.woff2) format("woff");
}
@font-face {
  font-family: "MedEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Medium.woff2) format("woff");
}
@font-face {
  font-family: "BEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Bold.woff2) format("woff");
}
@font-face {
  font-family: "XBEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-ExtraBold.woff2) format("woff");
}
@font-face {
  font-family: "LightEstedad";
  src: url(./assets/fonts/Estedad/woff2/Estedad-Light.woff2) format("woff");
}

body {
  background-color: #2b2b2b;
  direction: rtl;
  font-family: "RegEstedad";
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  border-radius: 0px 0px 8px 8px;
  /* margin-bottom: 5px; */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
fieldset {
  border-radius: 10px;
  border: 1px solid #63636324;
}
.inset-shadow {
  box-shadow: inset 0px 1px 4px 0px #414141;
}
.color-pallete-1 {
  background-image: linear-gradient(45deg, transparent, #b9d5ff);
}
.color-pallete-2 {
  background-color: #ffd6ce;
}
.color-pallete-3 {
  background-color: #0066ff2b;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow-x: hidden;
  height: 100vh;
}
.no-result {
  text-align: center;
  color: teal;
  font-size: 50px;
  margin-top: 20%;
  font-family: "XBEstedad";
}
.searchInput {
  width: -webkit-fill-available;
  background-color: #fff;
  border: none;
  outline: none;
}
/* .plus {
  background-image: url(./assets/images/plus/add.png);
  background-repeat: no-repeat;
  width: 20px;
} */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.659);
}
.BTN {
  cursor: pointer;
  /* background-color: #fff; */
  border-radius: 5px;
  outline: none;
  padding: 8px;
  border: 1px solid #8a898942;
  /* border: none; */
}
.fs-BTN {
  font-size: 12px;
  box-shadow: 0px 1px 3px -1px #000;
  background-color: transparent;
}
.activeButton {
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  box-shadow: inset 0px 2px 5px -2px #000;
  border: 1px solid #e1e1e1;
  font-size: 12px;
}
legend {
  font-size: 14px;
}
.right-side {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 5px;
  margin-left: 0px;
  padding: 10px;
}
.todolist-container {
  height: 100%;
  padding-right: 0px !important;
  overflow-y: hidden;
}
.tdl-items-container {
  height: calc(100% - 52px);
  overflow-y: auto;
  margin-top: 12px;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 5px;
  padding: 10px;
}
.left-side h1 {
  font-family: "BEstedad";
}

.left-side ul li {
  font-family: "LightEstedad";
  list-style: none;
}
input {
  background-color: white;
}
/* .weather-aqi-container {
  width: 100%;
} */
.weather-container {
  display: grid;
  grid-template-columns: 70% 30%;
  border: none;
  height: 70px;
}
.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.temp {
  display: flex;
  align-items: center;
}
.temp-icon {
  width: 28px;
  margin-right: 10px;
}
.temp-deg {
  font-size: 25px;
}
.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-icon-png {
  width: 66px;
}
.aqi-container {
  display: grid;
  grid-template-columns: 70% 30%;
  border: none;
  height: 70px;
}
.aq-index {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: center;
}
.aqi-index-container {
  display: flex;
  align-items: center;
}
.aqi-title {
  font-size: 13px;
  margin-right: 7px;
}
.aqi-des {
  font-size: 12px;
}
.aq-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aq-icon-svg {
  border-radius: 10px;
  /* background-color: #12b187; */
  width: 66px;
}
.calender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border: none;
  font-family: "BEstedad";
}
.filterContainer {
  display: flex;
  justify-content: center;
  flex-flow: column-reverse;
  flex-wrap: nowrap;
}
.itemContainer1 {
}
.itemContainer2 {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0066ff2b;
  border: none;
  padding-bottom: 19px !important;
}
.listItem {
  /* margin-right: 5px; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px #aaaaaa38 solid;
  margin-block: 1px;
  font-family: "LightEstedad";
}
.listItem:last-child {
  /* border-bottom: 1px #aaa solid; */
}
/* .filter2ItemContainer2 {
  min-width: max-content;
} */
@media only screen and (min-width: 541px) {
  .listItem {
    /* width: 50%; */
  }
}
@media only screen and (min-width: 893px) {
  .filter1ItemContainer2 {
    width: 50%;
  }
  .filter2ItemContainer2 {
    width: 35%;
  }
}
.itemContent {
  flex: 3;
  width: 40vw;
  word-wrap: break-word;
  /* overflow: scroll; */
  overflow-x: auto;
  height: 33px;
  overflow-y: auto;
}
.itemContent::-webkit-scrollbar {
  display: none;
}
.itemButton {
  /* flex: 0.1; */
  margin-left: 1.5px;
}
input[type="checkbox"] {
  opacity: 0.5;
  zoom: 1.3;
}
.bin {
  width: 15px;
  opacity: 0.2;
  border: none;
}
.bin:hover {
  opacity: 1;
}
.itemCheckbox {
  flex: 0.1;
  zoom: 1.5;
}
/* input[type="checkbox"]:checked {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
} */
.itemCheckbox:hover {
  cursor: pointer;
  /* background-color: chartreuse; */
}
/* .notices {
  display: flex;
  align-items: center;
  align-self: center;
  padding-right: 10px;
  padding-left: 10px;
} */
.router {
  padding-left: 5px;
  text-align: center;
  background-color: #0066ff2b;
  border: none;
}
.routerLink {
  text-decoration: none;
  color: black;
}
.router li {
  box-shadow: 0px 8px 17px -11px #929292;
}
.todo-form-container {
  padding-right: 8px;
}
.todo-form-title {
  font-size: 13px;
}
.todo-form {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 13px;
}
.todo-form-text {
  width: -webkit-fill-available;
  min-width: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #f7f7f7;
  /* box-shadow: inset 0px 0px 4px 1px; */
  border: none;
}
.todo-form-submit {
  width: 25px;
  background-color: #43B05C;
  color: #fff;
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 2px;
  margin-inline: 9px;
  /* box-shadow: inset 0px 0px 4px 1px #004b37; */
  cursor: pointer;
}
/* .router li:last-child {
  border: none;
} */
/* .headerDate {
  direction: ltr;
  padding-left: 10px;
  display: flex;
  width: 350px;
} */
.date-container {
  display: flex;
  width: -webkit-fill-available;
}
.date {
  flex: 2;
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  margin-block: 5px;
  border-radius: 8px;
  border: none;
  width: 100px;
  text-align: center;
  border: none;
}
.time-wDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  margin-block: 5px;
  margin-left: 6px;
  border-radius: 8px;
  border: none;
  width: 152px;
  text-align: center;
  border: none;
}
.miladi {
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  background-color: #888;
  border: none;
  width: 100px;
  text-align: center;
}
.hejri {
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  background-color: #888;
  border: none;
  width: 100px;
  text-align: center;
}
.selector-city {
  width: -webkit-fill-available;
  border: solid 1px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.selctor-city,
select {
  width: -webkit-fill-available;
  background-color: transparent;
  border: none;
  outline: none;
  margin-block: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px 0px 10px 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and(max-width: 750px) {
  .no-result {
    font-size: 30px;
    margin-top: 40%;
  }
}
