.about-me-container {
    background-color: white;
    color: black;
}
.share-idea {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #f7f7f7;
}
form {
    
    display: inline;
}
.share-idea:hover {
    background-color: #e1e1e1;
}

.article-date {
    opacity: 0.4;
    font-size: 12px;
    margin-right: 10px;
}